.buttons, .flipper {
    width: 305px;
	margin:2em auto;
}

.btn {
	width: 150px;
    border: 1px solid #ccc;
}

.buttons .btn-up, .buttons .btn-down,
.buttons .btn-forward, .buttons .btn-backward,
.buttons .btn-flip-front, .buttons .btn-flip-back {
    display: block;
    margin: 0 auto;
}

.buttons .btn-left,.buttons .btn-right {

}

.buttons, .buttons * {
    box-sizing: border-box;
}

.buttons .btn-down {}